html
{
}

body
{
}

div#edging
{
	width: 50px;
}

div#cv
{
	margin-left: 80px;
}

header
{
}

header section#banner
{
	width: 100%;
}

footer
{
}

footer strong
{
}

footer table
{
}

/* Utilisation de la police personnalisée ici */
h1#identification
{
	font-size: 3em;
	height: 70px;
}

h1#identification em
{
}

h1#identification strong
{
}


aside#presentation
{
	margin-bottom: 20px;
}


aside#presentation strong
{
}


aside#presentation span#ma_super_startup
{
}


aside#presentation cite
{
}

figure#photo_identite
{
}

figure#photo_identite img
{
}

figure#photo_identite figcaption
{
}


section#informations
{
}

span.date
{
}


h3
{
}

em
{
}

strong
{
}


section.info_panel
{
	padding-top: 15px;
}

section.info_panel ul, ol
{	
	padding-left: 5px;
}

section#experience
{
}

section#experience ul
{
}

section#competences
{
}

section#competences ul
{
}

section#formation
{
}

section#formation ul
{
}

span.information
{
}


section#qualites
{
}


section#qualites ol
{
}

mark
{
}


div#.line
{
}